
.wrapper {
  width: 100%;
}
.container {
  width: 100vh;
  margin: 0 auto;
  height: 200vh;
  
}
.header-container{
  width: 1300px;
  margin: 0 auto;
  height: 10vh;
  
}
#card{
  padding: 20px 5px 5px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  
}
#lista-productos{
  background: rgb(237, 229, 229);
  height: 55vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  
}
#col1{
  background: rgb(213, 221, 230);
  display: block;
}
